<!doctype html>
<html ng-app="myApp">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="src/app.js"></script>
</head>
<body ng-controller="mainController" style="margin:0px; height: 100vh;">
<div class="search-panel-container">
    <div class="search-panel">
        <svg class="svg-icon search-icon" aria-labelledby="title desc" 
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7">
            <g class="search-path" fill="none" stroke="#848F91">
            <path stroke-linecap="square" d="M14.5 16.3l-5.4-5.4"/>
            <circle cx="6" cy="8" r="4"/></g>
        </svg>
        <input placeholder="SEARCH (Client Name / Policy Number)" type="text" ng-change="onSearch()" ng-model="value" />
    </div>
    <div class="dropdown-list" ng-show="showDropdownList">
        <div ng-class="{insurenceBackground: ($index % 2) == 1}" class = "insurence-item" ng-repeat="item in list" >
            <div class="insurence-name-container">
                <div class="insurence-name">
                    {{item.name}}
                </div>
            </div>
            <div class="insurence-information">
                <div class="phone-area">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 
                        2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 
                        0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 
                        0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 
                        1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 
                        1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                     </svg>
                     <div class="phone-number">{{item.phone}}</div>
                </div>
                <div class="mail-area">
                    <div class="mail">@ {{item.mail}}</div>
                </div>
                <div class="policy-area">
                    <svg viewBox="0 0 384 512" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 
                        24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 
                        0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 
                        12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0
                         6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 
                         12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
                    </svg>
                    <div class="policy-number">Policy no. {{item.policyNo}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='dist/styles.min.css'/>
</body>
</html>